.container{
    box-shadow: 0 0 20px rgba(0, 0, 0, 20);
    margin: auto;
   text-align: center;
   width: 60%;
   height: 80%;
}

/* .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 0 20px 0 20px;
} */

button{
    padding: 5px;
    margin: 10px;
    background-color: rgb(228, 123, 123);
    color: black;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.highlight{
    background-color: aqua;
}