.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  box-shadow: 0 0 20px;
  margin: auto;
 text-align: center;
 border-radius: 10px;
 width: 60%;
 height: 100%;
}

.submitContainer{
  
  margin: auto;
 text-align: center;
 border-radius: 10px;

}

/* .buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  padding: 0 20px 0 20px;
} */

button{
  padding: 5px;
  margin: 10px;
  background-color:#6A1B9A;
  color: white;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.highlight{
  background-color: #e4c18c;
}

h2,h1,h3{
  color: #6A1B9A;
}

input{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-color: grey;
}

table{
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}

table td{
  border-color:#eee;
  border-width: 1px;
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 15px;
}

table th{
  background-color:#6A1B9A;
  border-width: 1px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 15px;
  text-align: left;
}

